@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');

* {
  font-family: Arial, Helvetica, sans-serif;
}

#header-1 {
  background-color: blanchedalmond;
}

h1 {
  color: rebeccapurple;
  font-size: 3rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700; /* 100, 200,... 900 */
  text-transform: uppercase;
  text-shadow: 10px 10px #bad455;
  text-align: center;
  line-height: 2;
  position: sticky;
  top: 0;
}

/* h2 {
  color: blueviolet;
} */

nav {
  background-color: #bad455; /* hex, rgb, hsl, rgba, hsla */
  width: 100vw;
  height: 50vh;
}

nav {
  background-color: aqua;
}

nav ul {
  background-color: initial;
}

nav ul li:first-child {
  width: 50%;
  background-color: rgba(253, 0, 32, 0.4);
}

nav ul li {
  background-color: bisque !important;
  display: inline;
  padding: 10px 20px;
  margin: 0 10px;
  border: 1px solid black;
  border-radius: 50%;
}

p span {
  color: blue;
}

p.inherit {
  color: forestgreen;
}

p.inherit span {
  color: unset;
}

p.lipsum {
  letter-spacing: 2px;
  word-spacing: 10px;
  columns: 200px;
}

.unordered li {
  list-style: malayalam;
  list-style-position: inside;
}

.ordered li {
  list-style: upper-roman;
}

a {
  color: teal;
  text-decoration: none;
  padding: 10px 20px;
}

a:hover {
  color: hotpink;
  background-color: black;
}

a:active {
  background-color: cornflowerblue;
}